/**
 * @name Naturized
 * @author Purpled
 * @version 0.1.8
 * @description A Naturized Version of the Standard Discord Theme.
 * @source 
 */

:root{
    --background-image: url(https://github.com/PurpledGit/Naturized-Discord-Theme/blob/main/Naturized-Background.jpg);
    --user-modal-image: var(--background-image);
    --user-popout-image: var(--background-image);
    --home-icon: url(https://leafyluigi.github.io/images/Sunset%20Nature%2024%20by%20Bouzid27.png);

    --background-attachment: fixed;
    --user-modal-attachment: var(--background-attachment);
    --user-popout-attachment: var(--background-attachment);

    --mention-background: var(--primary-color);
    --mention-opacity: 0.3;

    --accent-color: #C3403C;
    --accent-hover: #CE3134;
    --accent-rgb: 185, 65, 29;
    --accent-text-color: #fff;

    --chat-color: #28282B;
    --chat-box-color: #454545;
    --sidebar-color: #000;
    --sidebar-panel: rgb(15, 15, 15);

    --title-bar: #212121;
	--sticky-header: #181818;
	--sticky-header-border: #303030;

	--bar-color: #181818;
	--bar-border-color: #282828;
	--bar-size: 90px;

	--popout-color: #282828;
	--popout-radius: 7px;
	--popout-radius-small: 3px;

	--input-bg: #e0e0e0;
	--input-text-color: #333;
	--input-placeholder-color: #444;
}
